@import url(reset.css);
* {
	box-sizing: border-box;
}
body {
	max-width: 1280px;
	margin : 0 auto;
	background-color: whitesmoke;
}
.navbar {
	display: flex;
	justify-content: space-between;
	padding : 0 30px;
	background-color: white;
	font-size: 20px;
}
.navbar > a {
	display: flex;
}
.navbar > .menu {
	display: flex;
	list-style: none;
}
.navbar > .menu > li {
	display: flex;
	justify-content: center;
	align-items: center;
	padding : 15px;
	font-size : 16px;
}
.navbar > .menu > li > a {
	text-decoration: none;
	color : black;
}
.navbar > .menu > li:hover {
	background-color: lightgray;
}
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height : 600px;
	background-image: url(header.PNG);
	background-size: cover;
	background-position: center center;
	color : white;
}
.header > h2 {
	margin: 10px 0;
	font-size : 20px;
}
.header > a {
	padding : 15px;
	border: 1px solid white;
	text-decoration: none;
	color : white;
}
.header > a:hover {
	color : black;
}
.hot-item {
	text-align: center;
	margin: 60px 0;
	font-size: 24px;
	color : #545454;
}