@font-face {
	font-family: 'BMJUA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
p {
	color: white;
	background-color: blue;
	text-decoration: underline;
}

h1 {
	font-family: 'BMJUA';
}